/********************
Author: Nathan Mador-House
********************/

/********************
------- INDEX -------
1. Universal Styles
2. Header
3. Main Body
4. Sidebar
5. Footer/Comments/Forms
********************/

/********************
1. Universal Styles
********************/
html {
    background: url(../assets/backgrounds/BG2EditedWebOptimized.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
/********************
2. Header
********************/
#TitleContainer {width: 100%;}

#MainContentBoxTitle {
    background: #1C1C1C;
    color: white;
    margin: -30px auto 0 auto;
    position: relative;
    text-align: center;
    width: 65%;
}

#Title {
    font-family: 'Quicksand', sans-serif;
    font-size: 250%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#Subtitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 150%;
    padding-bottom: 10px;
}


/********************
3. Main Body
********************/

#MainContentBox {
    background: #C1A57F;
    height: 65%;
    font-family: 'Lora', sans-serif;
    margin: 0 auto 0 auto;
    padding: 15px 0 10% 0;
    position: relative;
    width: 65%;
}

#Content {
    height: 90%;
    margin: 0 auto 0 auto;
    padding:30px 0 10% auto;
    width: 83%;
}

.Person {
    border: 2px solid black;
    display: inline-block;
    height: 230px;
    margin: 50px 5px 0 5px;
    width: 185px;
}

.teamPhoto {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.teamTitle {
    margin: 0 0 0 0;
}

img {
    max-height: 100%;
    max-width: 100%;
}

/********************
4. Sidebar
********************/

#LanguageSelection a:link {color: white; text-decoration: none;}
#LanguageSelection a:visited {color: white;}
#LanguageSelection a:hover {color: black; text-decoration: underline; background: #F9EDED}
#LanguageSelection {
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    font-size: 110%;
    width: 100%;
    position: relative;
    text-align: right;
    word-spacing: 4px;
}

#NavBar a:link {
    color: white;
    font-weight: bold;
    font-size: 135%;
    text-decoration: none;}
#NavBar a:visited {color: white;}
#NavBar a:hover {color: black; text-decoration: underline; background: #F9EDED;}
#NavBar {font-family: 'Quicksand', sans-serif; margin-left: 20px;}

/********************
5. Footer/Comments/Forms
********************/

#FooterContainer {
    background: #1C1C1C;
    height: 100px;
    margin: -18px auto 0 auto;
    position: relative;
    width: 65%;
}

#Footer{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #8C600D;
    padding-top: 40px;
}

#Donation {
    width: 65%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #C1A57F;
    text-align: center;
    margin: 0 auto 0 auto;
}
